[submodule "inverter"]
	path = inverter
	url = https://github.com/dword1511/stm32-hbctl.git
[submodule "showcase_ble"]
	path = showcase_ble
	url = https://github.com/dword1511/efr32-thunderboard-sense.git
[submodule "showcase_uwb"]
	path = showcase_uwb
	url = https://github.com/dword1511/stm32-tinyuwb.git
[submodule "showcase_uwb_app"]
	path = showcase_uwb_app
	url = https://github.com/dword1511/DecaRangeRTLS_linux.git
